<!DOCTYPE html>
<html>
<head>
  <title>會員註冊</title>
  <meta charset="utf-8" />
</head>
<body>
  <h2>會員註冊</h2>

  <form  action="/savedetails" method="POST">
    <label for="memberId">會員編號：</label>
    <input type="text"  name="memberId" required><br><br>

    <label for="password">密碼：</label>
    <input type="password"  name="password" required><br><br>

    <label for="money">入金：</label>
    <input type="number"  name="money" required><br><br>

    <input type="submit" value="入金" >
  </form>

</body>
</html>